{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col mx-4 my-4" style="max-width: 18rem;">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/base/default_image.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col mx-4 my-4" style="max-width: 18rem;">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/base/default_image.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col mx-4 my-4" style="max-width: 18rem;">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/base/default_image.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col mx-4 my-4" style="max-width: 18rem;">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/base/default_image.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col mx-4 my-4" style="max-width: 18rem;">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'images/base/default_image.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

</div>



{% endblock %}