{% extends 'base.html' %}
{% block content %}

<div class="text-center" style="padding:10% 0 0 0;">
    <form class="form-signin" action="" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">로그인 해주세요!</h1>
        <label for="id_username" class="sr-only">Email</label>
        <input type="email" name="username" id="id_username" class="form-control" placeholder="Email" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="#">회원가입</button>
    </form>
</div>

{% endblock %}