{% extends 'base.html' %}
{% load static %}
{% load imagekit %}
{% block content %}

<h4>구매하실 상품을 확인해주세요!</h4>
<hr>
{% include 'cartapp/snippets/cart_item_list.html' with target_cart=target_order %}
<hr>
<h4>배송받으실 주소를 확인해주세요!</h4>

{% include 'addressapp/snippets/address_list.html' with address_list=target_order.user.useraddress_set.all %}

{% for default_addr in target_order.user.useraddress_set.all %}
    {% if default_addr.is_default %}
        {% include 'addressapp/create.html' with default_address=default_addr %}
        <input type="hidden" name="user_default_address" id="user_default_address" value="{{ default_addr.pk }}">
    {% endif %}
{% endfor %}

<div class="text-right">
    <button class="btn btn-secondary" onclick="deleteCartItem();">선택 삭제</button>
    <button class="btn btn-primary" onclick="iamportPayment();">구매하기</button>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>

    // 상품 가지수 별 iamport결제시 출력될 상품명 설정하는 script
    function productCount(){
        var rows = document.getElementsByName('cart_item_checkbox').length;
        var first_product_name = $('body > div.container > table.table.table-borderless > tbody > tr:nth-child(2) > td:nth-child(3) > a').text().trim();
        if (rows > 1) {
            return first_product_name +'외 ' + String(rows-1) + '건'
        } else {
            return first_product_name
        }
    }

    // 새로운 주문을 생성하는 script
    function createOrder(){
        result = {}
        $.ajax({
            url : '{% url 'orderapp:createOrder' %}',
            type : 'post',
            dataType : 'json',
            async : false,
            data : {
                'csrfmiddlewaretoken' : csrftoken,
                'address_pk' : $('#user_default_address').val()
            }, success : function (data){
                result['is_saved'] = true;
                result['merchant_uid'] = data['merchant_uid'];
                result['amount'] = data['amount'];

            }, error : function (err, status) {
                alert(err+' : '+status);
            }
        });
        return result  // 주문 object 생성 여부에 따른 결과 리턴
    }

    // 실제 결제된 금액이 맞는지 확인 요청 보내는 script
    function paymentCheck(merchant_uid, amount){
        $.ajax({
            url : '{% url 'orderapp:paymentCheck' %}',
            type : 'post',
            dataType : 'json',
            data : {
                'csrfmiddlewaretoken' : csrftoken,
                'merchant_uid' : merchant_uid,
                'amount' : amount
            }, success : function (data){
                console.log(data);
                console.log(data['order_id']);
            }, error : function (err, status) {
                alert(err+' : '+status);
            }
        });
    }

    // 사용자가 결제를 취소할 경우 주문 내역을 삭제하는 script
    function paymentError(merchant_uid){
        $.ajax({
            url : '{% url 'orderapp:paymentError' %}',
            type : 'post',
            dataType : 'json',
            data : {
                'csrfmiddlewaretoken' : csrftoken,
                'merchant_uid' : merchant_uid,
            }, success : function (data){
                console.log(data);
            }, error : function (err, status) {
                alert(err+' : '+status);
            }
        });
    }


    // iamport 결제 로드 script
     function iamportPayment() {
        var IMP = window.IMP; // 생략가능
        IMP.init('imp57633587'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용

        order_info = createOrder();

        if (order_info['is_saved']) {
            IMP.request_pay({
                pg : 'inicis', // version 1.1.0부터 지원.
                pay_method : 'card',
                merchant_uid : order_info['merchant_uid'],
                name : productCount(),
                amount : order_info['amount'],
                buyer_name : '{{ user.username }}',
                buyer_email  : '{{ user.email }}',
                buyer_tel : '{{ user.phone_number }}',
                buyer_addr : $('#sample6_address').val() +' '+ $('#sample6_detailAddress').val(),
                buyer_postcode : $('#sample6_postcode').val(),
                m_redirect_url : '{% url 'storeapp:index'%}'
                }, function(rsp) {
                    if ( rsp.success ) {
                        var msg = '결제가 완료되었습니다.';
                        msg += '고유ID : ' + rsp.imp_uid;
                        msg += '상점 거래ID : ' + rsp.merchant_uid;
                        msg += '결제 금액 : ' + rsp.paid_amount;
                        msg += '카드 승인번호 : ' + rsp.apply_num;
                        paymentCheck(rsp.merchant_uid, rsp.paid_amount);  // 결제 승인시 유효성 검사
                    } else {
                        var msg = '결제에 실패하였습니다.';
                        msg += '에러내용 : ' + rsp.error_msg;
                        paymentError(order_info['merchant_uid']);  // 결제 과정 중 오류(사용자가 취소 등의 상황) 발생시 주문 model 삭제
                    }
                    alert(msg);
            });
        } else {
            alert('Iamport 결제 요청 실패');
        }
    }
</script>
{% endblock %}