{% extends 'base.html' %}
{% load static %}
{% block content %}
<button class="btn btn-success" onclick="location.href='{% url 'productapp:thumbnailCreate' pk=target_product.pk %}'">썸네일 추가</button>
<button class="btn btn-success" onclick="location.href='{% url 'productapp:detailCreate' pk=target_product.pk %}'">상세이미지 추가</button>
<hr>
<h4>기존 이미지</h4>
<hr>
<div class="mb-2" id="thumbnail_container">
    <h5>썸네일</h5>
    {% for thumb in target_product.product_thumbnails.all %}
        <img src="{{ thumb.p_thumbnail.url }}" width="200" height="200">
        <input type="checkbox" name="thumbnail_checkbox" id="thumb_{{ thumb.pk }}" value="{{ thumb.pk }}">
    {% endfor %}
</div>
<button type="button" class="btn btn-primary" onclick="openModal('thumbnail');">수정하기</button>
<button class="btn btn-danger" onclick="imageDelete('thumbnail');">삭제하기</button>

<hr>

<div class="mb-2" id="detail_image_container">
    <h5>상세 이미지</h5>
    {% for detail_image in target_product.product_detail_images.all %}
        <img src="{{ detail_image.p_detail_image.url }}" width="200" height="200">
        <input type="checkbox" name="detail_image_checkbox" id="detail_image_{{ detail_image.pk }}" value="{{ detail_image.pk }}">
    {% endfor %}
</div>
<button type="button" class="btn btn-primary" onclick="openModal('detail_image');">수정하기</button>
<button class="btn btn-danger" onclick="imageDelete('detail_image');">삭제하기</button>

<hr>

<button class="btn btn-secondary" onclick="location.href='{% url 'productapp:update' pk=target_product.pk %}'">정보 수정으로 돌아가기</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'productapp:changeImage' pk=target_product.pk %}" method="post" id="form_in_modal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="이미지 교체하기">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/productapp/product_update_image.js' %}"></script>
<script>
    delete_url = '{% url 'productapp:imageDelete' pk=target_product.pk %}';
</script>
{% endblock %}

