{% load static %}
{% load imagekit %}

{% for review in review_list %}
<div class="card mb-3" style="max-width: 540px;" id="{{ review.pk }}">
    <div class="row no-gutters">
        <div class="col-md-4">
            {% if review.review_detail_image.all %}
                {% thumbnail '180x200' review.review_detail_image.first.review_detail_image %}
            {% else %}
                <img src="{% static 'images/base/default_image.jpg' %}" width="180" height="200">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text mb-0">{{ review.content }}</p>
                <div class="card-text">
                    <div id="review_list_rating_{{ review.pk }}" class="rating" style="font-size:2rem;"></div>
                </div>
                <p class="card-text"><small class="text-muted">{{ review.created_at }}</small></p>
            </div>
        </div>
    </div>
</div>
<script>
    var list_options = {
        initial_value: {{ review.product_rate }},
        readonly: true,
    }
    $("#review_list_rating_{{ review.pk }}").rate(list_options);
</script>
{% endfor %}
