{% load static %}
{% load imagekit %}

{% for review in review_list %}
<div class="card mb-3" style="max-width: 540px;" id="{{ review.pk }}">
    <div class="row no-gutters">
        <div class="col-md-4">
            {% if review.review_detail_image.all %}
                {% thumbnail '100x50' review.review_detail_image.first.review_detail_image %}
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <!--        <h5 class="card-title">Card title</h5>-->
                <p class="card-text">{{ review.content }}</p>
                <p class="card-text"><small class="text-muted">{{ review.product_rate }}</small></p>
                <p class="card-text"><small class="text-muted">{{ review.created_at }}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
