{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-hover">
        <tr>
            <th>
                <label for="product_category_container">상품 카테고리:</label>
            </th>
            <td>
                <div id="product_category_container" class="d-flex w-75">
                    <input class="form-control form-control-sm" type="text" id="category_code_disabled" disabled size="5">
                    <select class="form-control form-control-sm" id="category_select" required>
                        <option value="">선택 없음</option>
                    </select>
                    <input type="button" class="btn btn-primary btn-sm ml-4" onclick="location.href='{% url 'productapp:categoryCreate' %}'" value="카테고리 추가하기">
                </div>
            </td>
        </tr>
        {{ forms.ProductCreationForm.as_table }}
        {{ forms.ProductThumbnailCreationForm.as_table }}
        {{ forms.ProductDetailImageCreationForm.as_table }}
        {{ forms.ProductOptionCreationForm.as_table }}

    </table>
    <div>
        <input type="hidden" name="category_code" id="category_code" value="">
        <input class="btn btn-primary" type="submit" value="등록">
    </div>
</form>

<script src="{% static 'js/productapp/product_create.js' %}"></script>
<script>
    data = {{ category_list | safe }};

    // product_create.js에 아래 함수 정의되어있음
    set_category(data.filter(obj => obj.category_parent_id == null), 'category_select'); // 카테고리 select option 초기화
</script>
{% endblock %}