<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'storeapp:index' %}">STREET 99</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <form class="d-flex" action="{% url 'storeapp:search' %}">
                        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search" required>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accountapp:detail' pk=user.pk %}">user is : {{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accountapp:logout' %}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cartapp:list' %}">장바구니</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <h3 onclick="location.href='{% url 'accountapp:login' %}'">anonymous user</h3>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if user.is_admin %}
                        <a class="nav-link" href="{% url 'productapp:create' %}">상품 등록</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
