<style>
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100%;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
</style>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column text-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <h1 class="text-dark">Street99<span class="sr-only">(current)</span></h1>
                </a>
            </li>
            <li class="nav-item">
                <form class="d-flex" action="{% url 'storeapp:search' %}">
                    <input class="form-control form-control-sm" name="q" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-sm btn-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#outerCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="outerCollapse">Outer</a>
                <div class="collapse" id="outerCollapse">
                    <a class="nav-link" href="{% url 'storeapp:searchByCategory' category_code=100 %}">전체</a>
                    <a class="nav-link" href="#">패딩</a>
                    <a class="nav-link" href="#">자켓/블레이져</a>
                    <a class="nav-link" href="#">MA-1/블루종</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#topCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="topCollapse">Top</a>
                <div class="collapse" id="topCollapse">
                    <a class="nav-link" href="#">전체</a>
                    <a class="nav-link" href="#">티셔츠</a>
                    <a class="nav-link" href="#">맨투맨/후드</a>
                    <a class="nav-link" href="#">니트</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#bottomCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="bottomCollapse">Bottom</a>
                <div class="collapse" id="bottomCollapse">
                    <a class="nav-link" href="#">전체</a>
                    <a class="nav-link" href="#">데님</a>
                    <a class="nav-link" href="#">슬렉스/코튼팬츠</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#accCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="accCollapse">ACC</a>
                <div class="collapse" id="accCollapse">
                    <a class="nav-link" href="#">전체</a>
                    <a class="nav-link" href="#">가방</a>
                    <a class="nav-link" href="#">벨트</a>
                    <a class="nav-link" href="#">언더웨어/양말</a>
                </div>
            </li>
        </ul>

        <hr>

        <h6 class="sidebar-heading text-center px-3 mt-4 mb-1 text-muted">
            <span>반가워요! {{ user.username }}님! </span>
        </h6>
        <ul class="nav flex-column mb-2 text-center">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disable" href="{% url 'accountapp:logout' %}">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cartapp:list' %}">장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orderapp:orderList' %}">주문내역</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link disable" href="{% url 'accountapp:login' %}">login</a>
                </li>
            {% endif %}
        </ul>

        {% if user.is_admin %}
        <h6 class="sidebar-heading text-center px-3 mt-4 mb-1 text-muted">
            <span>관리자 : {{ user.username }}님 </span>
        </h6>
        <ul class="nav flex-column mb-2 text-center">
            <li class="nav-item">
                <a class="nav-link disable" href="{% url 'productapp:create' %}">상품등록</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>