<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column text-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <h1 class="text-light">Street99<span class="sr-only">(current)</span></h1>
                </a>
            </li>
            <li class="nav-item px-1">
                <form class="d-flex" action="{% url 'storeapp:search' %}">
                    <input class="form-control form-control-sm" name="q" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-sm btn-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light font-italic" href="#outerCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="outerCollapse">Outer</a>
                <div class="collapse" id="outerCollapse">
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=100 %}">전체</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=101 %}">패딩</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=102 %}">자켓/블레이져</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=103 %}">MA-1/블루종</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light font-italic" href="#topCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="topCollapse">Top</a>
                <div class="collapse text-light" id="topCollapse">
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=200 %}">전체</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=201 %}">티셔츠</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=202 %}">맨투맨/후드</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=203 %}">니트</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light font-italic" href="#bottomCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="bottomCollapse">Bottom</a>
                <div class="collapse text-light" id="bottomCollapse">
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=300 %}">전체</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=301 %}">데님</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=302 %}">슬랙스/코튼팬츠</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light font-italic" href="#accCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="accCollapse">ACC</a>
                <div class="collapse text-light" id="accCollapse">
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=400 %}">전체</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=401 %}">가방</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=402 %}">벨트</a>
                    <a class="nav-link text-light" href="{% url 'storeapp:searchByCategory' category_code=403 %}">언더웨어/양말</a>
                </div>
            </li>
        </ul>

        <hr>

        <h6 class="sidebar-heading text-center px-3 mt-4 mb-1 text-muted">
            {% if user.is_authenticated %}
                <span>반가워요! {{ user.username }}님!</span>
            {% else %}
                <span>로그인 해주세요!</span>
            {% endif %}
        </h6>

        <ul class="nav flex-column mb-2 text-center">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-light font-italic" href="{% url 'accountapp:logout' %}">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light font-italic" href="{% url 'cartapp:list' %}">장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light font-italic" href="{% url 'orderapp:orderList' %}">주문내역</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light font-italic" href="{% url 'accountapp:login' %}">login</a>
                </li>
            {% endif %}
        </ul>

        {% if user.is_admin %}
        <hr>
        <h6 class="sidebar-heading text-center px-3 mt-4 mb-1 text-muted">
            <span>관리자 메뉴 </span>
        </h6>
        <ul class="nav flex-column mb-2 text-center">
            <li class="nav-item">
                <a class="nav-link text-light font-italic" href="{% url 'productapp:create' %}">상품등록</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>