{% load static %}
{% if target_cart.cart_item.all %}
<table class="table table-borderless">
    <tr class="text-center">
        <th></th>
        <th>상품 이미지</th>
        <th>상품 정보</th>
        <th>가격/수량</th>
        <th>총 계</th>
    </tr>
    {% for item in target_cart.cart_item.all %}
    <tr class="text-center border-top">
        <td rowspan="2">
            <input type="checkbox" name="cart_item_checkbox" id="cart_item_checkbox_{{ item.pk }}" value="{{ item.pk }}">
        </td>
        <td rowspan="2"><img src="{{ item.product.product_thumbnails.first.p_thumbnail.url }}" width="100" height="100"></td>
        <td>
            <a href="{% url 'productapp:detail' pk=item.product.pk%}">
                {{ item.product.product_title }}
            </a>
        </td>
        <td>{{ item.product.product_sale_price }}</td>
        <td>{{ item.sub_total }}</td>
    </tr>
    <tr class="text-center">
        <td>{{ item.product_option_1 }} : {{ item.product_option_2 }}</td>
        <td>
            <div class="input-group">
                수량 :
                <input class="form-control form-control-sm ml-2" type="number" id="cart_item_quantity_{{ item.pk }}" value="{{ item.quantity }}">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" onclick="changeQuantity({{ item.pk}}, {{ item.quantity }});">수정</button>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr class="border-top">
        <td colspan="4"></td>
        <td class="sub_total">
            <b>합계: {{ target_cart.total_price }}</b>
        </td>
    </tr>
</table>
{% else %}
    <h4 class="text-center">아직 아무것도 없네요!</h4>
{% endif %}
<script src="{% static 'js/cartapp/cart.js' %}"></script>
<script>
    quantity_update_url = '{% url 'cartapp:quantityUpdate' cart_pk=target_cart.pk %}';
    cart_item_delete_url = '{% url 'cartapp:delete' cart_pk=target_cart.pk %}';
</script>
