{% if target_cart.cart_item.all %}
<table class="table table-borderless">
    <tr class="text-center">
        <th></th>
        <th>상품 이미지</th>
        <th>상품 정보</th>
        <th>가격/수량</th>
        <th>총 계</th>
    </tr>
    {% for item in target_cart.cart_item.all %}
    <tr>
        <td rowspan="2">
            <input type="checkbox" name="cart_item_checkbox" id="cart_item_checkbox_{{ item.pk }}" value="{{ item.pk }}">
        </td>
        <td rowspan="2"><img src="{{ item.product.product_thumbnails.first.p_thumbnail.url }}" width="100" height="100"></td>
        <td>
            <a href="{% url 'productapp:detail' pk=item.product.pk%}">
                {{ item.product.product_title }}
            </a>
        </td>
        <td>{{ item.product.product_sale_price }}</td>
        <td>{{ item.sub_total }}</td>
    </tr>
    <tr>
        <td>{{ item.product_option.p_product_option_class_1 }} : {{ item.product_option.p_product_option_class_2 }}</td>
        <td>
            <div class="input-group">
                수량 :
                <input class="form-control" type="number" id="cart_item_quantity_{{ item.pk }}" value="{{ item.quantity }}">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" onclick="changeQuantity({{ item.pk}}, {{ item.quantity }});">수정</button>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4"></td>
        <td class="sub_total">
            합계: {{ target_cart.total_price }}
        </td>
    </tr>
</table>
{% else %}
    <h4 class="text-center">아직 아무것도 없네요!</h4>
{% endif %}
<script>
    // 장바구니 상품의 수량을 변경
    function changeQuantity(target_item, origin_item_quantity){
        input_quantity = $('#cart_item_quantity_'+target_item).val();

        // 기존에 저장된 수량값과 다르다면(수정할 수 있다면)
        if (input_quantity != origin_item_quantity) {

            if (input_quantity > 0) {
                $.post('{% url 'cartapp:quantityUpdate' cart_pk=target_cart.pk %}',
                    {
                        'csrfmiddlewaretoken' : csrftoken,
                        'target_item' : target_item,
                        'input_quantity' : input_quantity
                    }, function() {
                        alert('상품 수량을 변경했어요!');
                        location.reload();
                });
            } else {
                alert('수량을 정확하게 입력해주세요!');
            }
        }
    }

    // checkbox 선택된 값이 있는지 확인
    function isChecked(){
        checked_item = $('input[name=cart_item_checkbox]:checked');

        if (checked_item.length > 0) {
            return checked_item;
        } else {
            return false;
        }
    }

    // 선택된 장바구니 상품 삭제
    function deleteCartItem(){
        checked_item = isChecked();
        if (checked_item) {
            var result = confirm('해당 상품을 장바구니에서 제외할까요?');
            var cart_pk = $('#target_cart').val()
            var cart_item_list = []

            if (result) {
                for (var i=0; i<checked_item.length; i++) {
                    cart_item_list.push(checked_item[i].value);
                }

                $.post('{% url 'cartapp:delete' cart_pk=target_cart.pk %}',
                    {
                        'csrfmiddlewaretoken' : csrftoken,
                        'cart_item_list' : cart_item_list
                    }, function() {
                        alert('삭제완료!');
                        location.reload();
                });
            }
        } else {
            alert('상품을 선택해주세요!');
        }
    }
</script>