
<table class="table table-hover border-bottom">
    <tr>
        <th>기본 주소로 설정</th>
        <th>이름</th>
        <th>주소</th>
        <th>우편번호</th>
    </tr>
    {% for item in address_list %}
        <tr>
            <td>
                {% if item.is_default %}
                    <input type="radio" name="is_default" value="{{ item.pk }}" id="is_default_{{ item.pk }}" checked>
                {% else %}
                    <input type="radio" name="is_default" value="{{ item.pk }}" id="is_default_{{ item.pk }}">
                {% endif %}
            </td>
            <td>
                {{ item.address_alias }}
            </td>
            <td>
                {{ item.address_road_name }} (도로명)<br>
                <small>{{ item.address_lot_number }} (지번)</small>
            </td>
            <td>
                {{ item.zip_code }}
            </td>
        </tr>
    {% endfor %}
</table>
<button class="btn btn-primary" onclick="setDefaultAddress();">기본 배송지 변경하기</button>

<script>
    function setDefaultAddress(){
        address_pk = $(':checked').val();

        $.ajax({
            url : '/addresses/update/'+address_pk+'/',
            type : 'post',
            data : {
                csrfmiddlewaretoken : csrftoken,
                address_pk : address_pk
                },
            success : function(data){
                alert('수정 완료');
                location.reload();
            }, error : function(err, status) {
                alert(err+' : '+status);
            }
        });
    }
</script>